body{
    color:gold;
    background:green;
    margin:darkred;
}


header{
        border-bottom: solid 2px rgd(42,122,228);
        padding: 20px;
        font-size: 32px;
        color: rgb(42,122,228);
}

section{

    background: rgb(184,156,213;
    padding-bottom: 80px;

}